.growth-note-content-div {
    word-wrap: break-word;
    word-break: normal;
    text-align: left;
    margin-bottom: 10px;
}

.growth-note-operation-button-group {
    float: right;
}

.growth-note-operation-button {
    margin-right: 5px;
}

.growth-note {
    padding: 30px;
    background: #ECECEC;
}